body {
    background-color: #111;
}
.carousel {
    max-width: 980px;
    margin: auto;
}
.first-paragrath > div {
    margin: 0 20;
}
.first-paragrath {
    gap: 30px;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.first-text {
    display: flex;
    flex-direction: column;
    background-color: rgb(28, 28, 28);
    padding: 30px;
}
hr {
    color: #fff;
}
.st-sans {
    font-family: 'PT Sans', sans-serif;
}
.playfair {
    font-family: 'Playfair Display', serif;
}
.yellow-text {
    color: #c09a64;
} 
.icon {
    filter: invert(.5) sepia(1);
}
.border {
    margin-left: 15px;
    filter: invert(.5) sepia(1);
}
.black-button {
    background-color: #111;
    display: inline-block;
    padding: 0;
    color: #fff;
    cursor: pointer;
    transition: 0.45s;
}
.black-button:hover {
    background-color: #fff;
    color: #111;
}
.white-button {
    background-color: #c09a64;
    display: inline-block;
    padding: 0;
    color: #fff;
    cursor: pointer;
    transition: 0.45s;
}
.about-button {
    font-size: 12px;
    height: 50px;
    width: 110px;
}
.white-button:hover {
    background-color: #c0c0c0;
}
.logo {
    align-items: center;
    padding-top: 30px;
        display: flex;
        justify-content: space-between;
}
.logo {
    margin: 0 auto;
    max-width: 1200px;
}
header .menu a {
    text-decoration: none;
    color: #fff;
    padding: 3px;
    font-family: 'PT Sans', sans-serif;
}
header .menu a:hover {
    color: #c09a64;
}

header .banner {
    background-image: url(../img/photograther.jpg);
    margin: 0 auto;
    height: 900px;
    max-width: 1200px;
    display: flex;
    justify-content: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;

}
.h1 {
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
}
.points {
    justify-content: flex-start;
    align-items: center;
}
.d-block {
    max-width: 100%;
}
p {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    

}
h1, h2, h3, h4, b {
    color: #fff;
}
.p {
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
}
button {
    padding: 19px 21px;
    margin-top: 30px;
    margin-bottom: 10px;
}
footer .menu a {
    text-decoration: none;
    color: #fff;
    padding: 3px;
    font-family: 'PT Sans', sans-serif;
}
footer .menu a:hover {
    color: #c09a64;
}
@media (max-width: 1200px) {
    .first-paragrath { grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;

    }
    .first-paragrath > div {
        margin: 30px;
    }
}