body {
    background-color: #111;
}

.carousel {
    max-width: 980px;
    margin: auto;
}
.first-paragrath > div {
    margin: 0 20;
}

.nav-item a:hover {
    color: red !important;
}
.first-paragrath {
    gap: 30px;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.first-text {
    display: flex;
    flex-direction: column;
    background-color: rgb(28, 28, 28);
    padding: 30px;
}
.secosn-text {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.second-paragrath {
    gap: 30px;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
hr {
    color: #fff;
}
.st-sans {
    font-family: 'PT Sans', sans-serif;
}
.playfair {
    font-family: 'Playfair Display', serif;
}
.yellow-text {
    color: #c09a64;
} 

}
.border {
    margin-left: 15px;
    filter: invert(.5) sepia(1);
}
.black-button {
    background-color: #111;
    display: inline-block;
    padding: 0;
    color: #fff;
    cursor: pointer;
    transition: 0.45s;
}
.black-button:hover {
    background-color: #fff;
    color: #111
}
.white-button {
    background-color: #c09a64;
    display: inline-block;
    padding: 0;
    color: #fff;
    cursor: pointer;
    transition: 0.45s;
}
.about-button {
    font-size: 12px;
    height: 50px;
    width: 110px;
}
.white-button:hover {
    background-color: #c0c0c0;
}
.playfair {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
}
.logo {
    align-items: center;
    padding-top: 30px;
        display: flex;
        justify-content: space-between;
}
.logo {
    margin: 0 auto;
    max-width: 1200px;
}
header .menu a {
    text-decoration: none;
    color: #fff;
    padding: 3px;
    font-family: 'PT Sans', sans-serif;
}
header .menu a:hover {
    color: #c09a64;
}

header .banner {
    background-image: url(../img/photograther.jpg);
    margin: 0 auto;
    height: 900px;
    max-width: 1200px;
    display: flex;
    justify-content: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}
.get-photo {
    padding-top: 50px;
}
.countdown {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.text-center {
    display: flex;
    justify-content: center;
    height: 100%;
}
.banner-text {
    margin: auto;
    
}
.inline {
    flex-direction: column;
    padding: 30px;
    background-color: rgb(28, 28, 28);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
}
.h1 {
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
}
.points {
    justify-content: flex-start;
    align-items: center;
}
.d-block {
    max-width: 100%;
}
p {
    color: #fff;
}
h1, h2, h3, h4, b {
    color: #fff;
}
.p {
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
}

footer .menu a {
    text-decoration: none;
    color: #fff;
    padding: 3px;
    font-family: 'PT Sans', sans-serif;
}
.contact-ryan {
    padding-top: 30px;
}
footer .menu a:hover {
    color: #c09a64;
}




#services{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.services{
    max-width: 1200px;
    margin: 30px auto;
    margin-top: 100px;
}

.services-blocks{
    display: grid;
    
    
}

.services-blocks-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(46, 46, 46);
    margin: 20px 10px;
}

.services-blocks-item *{
    margin: 10px;
}

.icon {
    filter: invert(.5) sepia(1);
    margin-right: 20px;
}

.button-1 {
    padding: 12px 30px;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Fira Sans', sans-serif;
    background-color: var(--accent-color);
    border: 1px solid white;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    max-width: 200px;
}

.button-1:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

p {
    margin: 0;
}

h2{
    margin: 0;
}

.shoot{
    background-image: url(../img/bg-paralax.png);
    min-height: 600px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100vw;
}

.box{
    max-width: 1200px;
    margin: 0 auto;
}

.shoot-box {
    padding-top: 200px;
    max-width: 500px;
}

.shoot-box-content {
    background-color: rgb(255, 255, 255, 0);
    display: grid;
    justify-items: center;
    padding: 20px;
    max-height: 500px;
    gap: 20px;
}

.main-banner{
    background-image: url(../img/photograther.png);
    min-height: 800px;
    /*background-position: right;*/
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 100px -80px;
}

.advantages-blocks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.advantages-blocks-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(46, 46, 46);
    margin: 20px 10px;
}

.advantages-blocks-item > *{
    margin: 10px;
}

li{
    color: azure;
}

.why{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.contact{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 280px;
    height: 220px;
    right: 0;
    margin: 50px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 10px 0.5px rgb(151, 151, 151);
    color: rgb(82, 82, 82);
}

.contact-box{
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}

@media (max-width: 730px) {

.services-blocks-item{
        flex-direction: column;
}

.first-paragrath { grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;

}
.first-paragrath > div {
    margin: 30px;
}
.girl-and-photographer{
    max-height: 400px;
}

.advantages-blocks{
    display: grid;
    grid-template-columns: 1fr;
    grid
}

}